<div class="container p-4">
  <h2 class="text-center text-primary mb-4">Create New Reservation</h2>

  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <!-- Check-In -->
      <div class="col-md-6">
        <label for="checkInDate" class="form-label">Check-In Date</label>
        <input
          id="checkInDate"
          type="date"
          formControlName="checkInDate"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              reservationForm.get('checkInDate')?.invalid &&
              reservationForm.get('checkInDate')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            reservationForm.get('checkInDate')?.invalid &&
            reservationForm.get('checkInDate')?.touched
          "
        >
          Check-In date is required.
        </div>
      </div>

      <!-- Check-Out -->
      <div class="col-md-6">
        <label for="checkOutDate" class="form-label">Check-Out Date</label>
        <input
          id="checkOutDate"
          type="date"
          formControlName="checkOutDate"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              reservationForm.get('checkOutDate')?.invalid &&
              reservationForm.get('checkOutDate')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            reservationForm.get('checkOutDate')?.invalid &&
            reservationForm.get('checkOutDate')?.touched
          "
        >
          Check-Out date is required.
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <!-- Guest Name -->
      <div class="col-md-6">
        <label for="guestName" class="form-label">Guest Name</label>
        <input
          id="guestName"
          type="text"
          formControlName="guestName"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              reservationForm.get('guestName')?.invalid &&
              reservationForm.get('guestName')?.touched
          }"
        />

        <div
          class="invalid-feedback"
          *ngIf="
            reservationForm.get('guestName')?.invalid &&
            reservationForm.get('guestName')?.touched
          "
        >
          <div *ngIf="reservationForm.get('guestName')?.errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="reservationForm.get('guestName')?.errors?.['minlength']">
            Name must be at least 3 characters.
          </div>
        </div>
      </div>

      <!-- Guest Email -->
      <div class="col-md-6">
        <label for="guestEmail" class="form-label">Guest Email</label>
        <input
          id="guestEmail"
          type="email"
          formControlName="guestEmail"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              reservationForm.get('guestEmail')?.invalid &&
              reservationForm.get('guestEmail')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            reservationForm.get('guestEmail')?.invalid &&
            reservationForm.get('guestEmail')?.touched
          "
        >
          <div *ngIf="reservationForm.get('guestEmail')?.errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="reservationForm.get('guestEmail')?.errors?.['email']">
            Please enter a valid email address.
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <!-- Room Number -->
      <div class="col-md-6">
        <label for="roomNumber" class="form-label">Room Number</label>
        <input
          id="roomNumber"
          type="number"
          formControlName="roomNumber"
          min="0"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              reservationForm.get('roomNumber')?.invalid &&
              reservationForm.get('roomNumber')?.touched
          }"
        />
        <div
          class="invalid-feedback"
          *ngIf="
            reservationForm.get('roomNumber')?.invalid &&
            reservationForm.get('roomNumber')?.touched
          "
        >
          <div *ngIf="reservationForm.get('roomNumber')?.errors?.['required']">
            Room number is required.
          </div>
          <div *ngIf="reservationForm.get('roomNumber')?.errors?.['min']">
            Room number must be at least 1.
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button
        type="submit"
        class="btn w-50"
        [disabled]="reservationForm.invalid"
        [ngClass]="{
          'btn-success': reservationForm.valid,
          'btn-secondary': reservationForm.invalid
        }"
      >
        Submit
      </button>
    </div>
  </form>
</div>
