<div class="container p-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary">Reservation List</h2>
    <a routerLink="/" class="btn btn-outline-primary btn-sm">← Back to Home</a>
  </div>

  <div *ngIf="reservations.length === 0" class="alert alert-info text-center">
    No reservations found.
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <ul class="list-group">
        @for (reservation of reservations; track reservation.id) {
        <li
          class="list-group-item d-flex justify-content-between align-items-start"
        >
          <div>
            <h5 class="mb-1 text-primary">{{ reservation.guestName }}</h5>
            <small class="text-muted">
              Room #{{ reservation.roomNumber }}
            </small>
            <small class="d-block">
              {{ reservation.checkInDate }} → {{ reservation.checkOutDate }}
            </small>
          </div>

          <div>
            <button
              class="btn btn-sm btn-outline-secondary me-2"
              [routerLink]="['/edit', reservation.id]"
            >
              Edit
            </button>
            <button
              class="btn btn-sm btn-danger"
              (click)="deleteReservation(reservation.id)"
            >
              Delete
            </button>
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
</div>
